@use "../../styles/scss/abstract/_mixins.scss" as *;
@use "../../styles/scss/abstract/_variables.scss" as *;
.homeMain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-red;
}
.homeMain img {
    width: 20%;
    object-fit: contain;
    @include media-down(lg) {
        width: 40%;
    }
    @include media-down(md) {
        width: 50%;
    }
    @include media-down(sm) {
        width: 90%;
    }
}
.homeMain div {
    width: 20%;
    display: flex;
    flex-direction: column;
    @include media-down(md) {
        width: 50%;
    }
}
.homeMain div button {
    margin-top: 20px;
}
